* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, #120026 0%, #2A002B 50%, #2A0012 100%);
  color: #fff;
  font-family: "Tilt Neon", sans-serif;
}

rect.rojo {
  stroke: #ff0000;
  filter: drop-shadow(0 0 8px #ff0000) drop-shadow(0 0 15px #ff0000);
}

.precios .tarjeta-1 .tarjeta-boton:hover {
  text-shadow: 0 0 5px red, 0 0 10px red;
}

rect.rosa {
  stroke: #ff00ff;
  filter: drop-shadow(0 0 8px #ff00ff) drop-shadow(0 0 15px #ff00ff);
}

.precios .tarjeta-2 .tarjeta-boton:hover {
  text-shadow: 0 0 5px #f003b5, 0 0 10px #f003b5;
}

rect.azul {
  stroke: #0011ff;
  filter: drop-shadow(0 0 8px #0011ff) drop-shadow(0 0 15px #0011ff);
}

.precios .tarjeta-3 .tarjeta-boton:hover {
  text-shadow: 0 0 5px blue, 0 0 10px blue;
}

@keyframes neonGlow {
  to {
    stroke-dashoffset: -780;
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 10px #b100ff, 0 0 20px #ff00ff, 0 0 40px #a000ff;
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 10px #b100ff, 0 0 20px #ff00ff, 0 0 40px #a000ff;
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 10px #b100ff, 0 0 20px #ff00ff, 0 0 40px #a000ff;
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 10px #b100ff, 0 0 20px #ff00ff, 0 0 40px #a000ff;
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 10px #b100ff, 0 0 20px #ff00ff, 0 0 40px #a000ff;
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 10px #b100ff, 0 0 20px #ff00ff, 0 0 40px #a000ff;
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 10px #b100ff, 0 0 20px #ff00ff, 0 0 40px #a000ff;
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 10px #b100ff, 0 0 20px #ff00ff, 0 0 40px #a000ff;
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 10px #b100ff, 0 0 20px #ff00ff, 0 0 40px #a000ff;
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 10px #b100ff, 0 0 20px #ff00ff, 0 0 40px #a000ff;
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 10px #b100ff, 0 0 20px #ff00ff, 0 0 40px #a000ff;
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 10px #b100ff, 0 0 20px #ff00ff, 0 0 40px #a000ff;
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 10px #b100ff, 0 0 20px #ff00ff, 0 0 40px #a000ff;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 10px #b100ff, 0 0 20px #ff00ff, 0 0 40px #a000ff;
  }
}
/*HEADER*/
.header .navegador {
  background-image: url("../../img/Fondo_Header_Gimnasio_Alternativo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(8px);
  padding: 0.5rem 1rem;
}
.header .navegador .container-fluid .logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff !important;
  text-decoration: none;
  text-shadow: 0 0 10px #b100ff, 0 0 20px #ff00ff, 0 0 40px #a000ff;
  animation: text-flicker-in-glow 2s ease-in-out forwards;
}
.header .navegador .container-fluid .custom-toggler {
  border: 2px solid #a000ff !important;
  color: #a000ff !important;
  background: none !important;
  border-radius: 5px;
  width: 3rem;
  height: 3rem;
  padding: 0;
}
.header .navegador .container-fluid .custom-toggler:focus {
  box-shadow: 0 0 10px #a000ff !important;
}
.header .navegador .container-fluid .custom-toggler .icono-menu {
  font-size: 2rem;
  color: #a000ff;
}
.header .navegador .container-fluid .colapsable .menu-lista {
  background-color: transparent !important;
}
.header .navegador .container-fluid .colapsable .menu-lista .nav-item .nav-link {
  color: #fff !important;
  position: relative;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.5rem;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.header .navegador .container-fluid .colapsable .menu-lista .nav-item .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, #a200ff, #ff00f7);
  box-shadow: 0 0 10px #ff00ff;
  transition: width 0.4s ease;
}
.header .navegador .container-fluid .colapsable .menu-lista .nav-item .nav-link:hover {
  text-shadow: 0 0 5px #b100ff, 0 0 10px #ff00ff, 0 0 20px #a000ff;
}
.header .navegador .container-fluid .colapsable .menu-lista .nav-item .nav-link:hover::after {
  width: 100%;
}
.header .navegador .container-fluid .botones .boton {
  position: relative;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent !important;
  color: #fff;
  text-shadow: 0 0 5px #b100ff, 0 0 10px #ff00ff, 0 0 20px #a000ff;
}
.header .navegador .container-fluid .botones .boton svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: none;
}
.header .navegador .container-fluid .botones .boton svg rect {
  width: 100%;
  height: 100%;
  stroke: #a000ff;
  stroke-width: 6px;
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  transition: all 0.6s ease;
  border-radius: 5px;
}
.header .navegador .container-fluid .botones .boton:hover svg rect {
  stroke-dashoffset: 0;
  filter: drop-shadow(0 0 10px #ff00ff);
}
.header .navegador .container-fluid .botones .active svg rect {
  stroke-dashoffset: 0;
  filter: drop-shadow(0 0 10px #ff00ff);
  transition: filter 0.6s ease;
}
.header .navegador .container-fluid .botones .active:hover span {
  font-weight: bold;
}
.header .navegador .container-fluid .botones .active:hover svg rect {
  filter: drop-shadow(0 0 5px #c00fa5);
  transition: filter 0.6s ease;
}

/* MAIN */
.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  justify-items: stretch;
}
.grid .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid .imagen1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.grid .imagen2 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.grid .imagen3 {
  grid-column: 1/2;
  grid-row: 3/4;
}
.grid .texto1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.grid .texto2 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.grid .texto3 {
  grid-column: 1/2;
  grid-row: 3/4;
}
.grid .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5019607843);
}

/*SECTION DISCIPLINAS*/
.disciplinas {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto repeat(7, 1fr);
  justify-items: center;
  row-gap: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
}
.disciplinas img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.disciplinas::before {
  position: absolute;
  content: "";
  background-image: url("../img/fondo_pared_ladrillos_negro_neon_transparente.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  inset: 0;
  opacity: 0.2;
}
.disciplinas .title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  border-radius: 1rem;
  height: 100%;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  z-index: 1;
  text-shadow: 0px 0px 20px #d2b2f3, 0px 0px 30px purple, 0px 0px 40px indigo, 0px 0px 50px blue;
}
.disciplinas .title h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.disciplinas .tarjeta {
  position: relative;
  width: 280px;
  height: 400px;
  border-radius: 10px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  box-shadow: -10px 10px 25px rgba(0, 0, 0, 0.7019607843), 10px -10px 20px rgba(120, 80, 255, 0.2509803922);
}
.disciplinas .tarjeta:hover {
  transform: scale(1.04);
  box-shadow: -20px 25px 40px rgba(0, 0, 0, 0.8), 10px -10px 35px rgba(160, 100, 255, 0.4);
}
.disciplinas .tarjeta:hover::after {
  height: 100%;
  text-align: center;
  line-height: 30px;
  justify-content: center;
  padding: 0 20px;
  font-size: 1rem;
}
.disciplinas .tarjeta::after {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1.5rem;
  color: white;
  background: rgba(0, 0, 0, 0.631372549);
  transition: height 0.5s ease;
}
.disciplinas .crossfit:hover::after {
  content: attr(data-descripcion);
}
.disciplinas .crossfit::after {
  content: attr(data-nombre);
}
.disciplinas .funcional:hover::after {
  content: attr(data-descripcion);
}
.disciplinas .funcional::after {
  content: attr(data-nombre);
}
.disciplinas .levantamiento:hover::after {
  content: attr(data-descripcion);
}
.disciplinas .levantamiento::after {
  content: attr(data-nombre);
}
.disciplinas .boxeo:hover::after {
  content: attr(data-descripcion);
}
.disciplinas .boxeo::after {
  content: attr(data-nombre);
}
.disciplinas .natacion:hover::after {
  content: attr(data-descripcion);
}
.disciplinas .natacion::after {
  content: attr(data-nombre);
}
.disciplinas .spinning:hover::after {
  content: attr(data-descripcion);
}
.disciplinas .spinning::after {
  content: attr(data-nombre);
}
.disciplinas .yoga:hover::after {
  content: attr(data-descripcion);
}
.disciplinas .yoga::after {
  content: attr(data-nombre);
}

/*SECTION SERVICIOS*/
.servicios {
  padding-top: 50px;
  text-align: center;
}
.servicios .title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  border-radius: 1rem;
  font-size: 2rem;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  z-index: 1;
  margin: 0 auto;
  text-shadow: 0 0 6px #c00fa5, 0 0 12px rgba(189, 17, 163, 0.6549019608), 0 0 22px rgba(193, 3, 165, 0.6274509804), 0 0 40px rgba(232, 6, 198, 0.8274509804);
}
.servicios .title h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.servicios .container-fluid {
  padding-top: 4rem;
  margin-bottom: 2rem;
}
.servicios .container-fluid .row {
  row-gap: 2rem;
}
.servicios .container-fluid .row .card {
  background: none;
  height: 190px;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  border-radius: 1rem;
  border: 2px solid rgba(142, 1, 121, 0.2509803922);
  box-shadow: -10px 10px 25px rgba(0, 0, 0, 0.7019607843), 10px -10px 20px rgba(142, 1, 121, 0.2509803922);
  transition: box-shadow 0.4s ease, border 0.4s ease;
}
.servicios .container-fluid .row .card:hover {
  border-color: rgba(142, 1, 121, 0.2509803922);
  box-shadow: -10px 10px 25px rgba(0, 0, 0, 0.7019607843) inset, 10px -10px 20px rgba(142, 1, 121, 0.2509803922) inset;
}
.servicios .container-fluid .row .card .card-body {
  color: #ffffff;
  padding: 2rem;
}
.servicios .container-fluid .row .card .card-body .material-symbols-outlined {
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 1rem;
  text-shadow: 0 0 10px rgba(122, 7, 46, 0.7098039216), 0 0 15px rgba(122, 7, 46, 0.6470588235), 0 0 20px rgba(148, 3, 131, 0.662745098);
  transition: text-shadow 0.4s ease;
}
.servicios .container-fluid .row .card .card-body .card-title {
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  text-shadow: 0 0 10px rgba(122, 7, 46, 0.7098039216), 0 0 15px rgba(122, 7, 46, 0.6470588235), 0 0 20px rgba(148, 3, 131, 0.662745098);
}
.servicios .container-fluid .row .card .card-body .card-text {
  color: rgba(255, 255, 255, 0.8509803922);
  font-size: 0.95rem;
  line-height: 1.6;
}

/*SECTION PROFESORES*/
.profesores {
  padding-top: 50px;
  position: relative;
}
.profesores::before {
  background-image: url("../img/gemini-2.5-flash-image-preview (nano-banana)_generame_otra_imagen (1).png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  opacity: 0.1;
  inset: 0;
}
.profesores .title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  border-radius: 1rem;
  font-size: 2rem;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  z-index: 1;
  margin: 0 auto;
  text-shadow: 0px 0px 10px rgba(187, 26, 90, 0.8078431373), 0px 0px 20px rgba(236, 35, 115, 0.6941176471), 0px 0px 30px rgba(236, 35, 115, 0.537254902), 0px 0px 40px rgba(221, 40, 112, 0.4941176471);
}
.profesores .title h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.profesores .carousel {
  margin: 1rem 0;
  padding: 2rem 0;
}
.profesores .carousel .carousel-item {
  padding-top: 2rem;
  height: 550px;
}
.profesores .carousel .carousel-item .card {
  margin: 0 auto;
  color: #fff;
  background: transparent;
  width: 300px;
  height: 500px;
  border-radius: 1rem;
  position: relative;
  border: none;
}
.profesores .carousel .carousel-item .card .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}
.profesores .carousel .carousel-item .card .card-body h3 {
  background-color: #7a072d;
  border-radius: 30px;
  color: #fff;
  position: absolute;
  top: 20px;
  right: 35px;
  padding: 1rem;
  font-size: 1.3rem;
  z-index: 2;
  box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.7019607843), 3px -3px 20px rgba(122, 7, 46, 0.7098039216);
}
.profesores .carousel .carousel-item .card .card-body h3::before {
  content: "";
  position: absolute;
  border-top: 20px solid #7a072d;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  bottom: -19px;
  left: 30px;
}
.profesores .carousel .carousel-item .card .card-body p {
  display: inline-block;
  width: 80%;
  padding: 1rem 0;
  border-radius: 10px;
  background: black;
  color: white;
  position: absolute;
  bottom: 20px;
  box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.7019607843), 3px -3px 20px rgba(122, 7, 46, 0.7098039216);
}
.profesores .carousel .carousel-item .card .card-body .imagen-profesor {
  width: 250px;
  height: 250px;
  border-radius: 100%;
}
.profesores .carousel .carousel-item .card .card-body .imagen-profesor img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}
.profesores .carousel .carousel-item .card2 {
  display: none;
}

/*SECTION CONTACTANOS*/
.contactos {
  margin-bottom: 2rem;
}
.contactos .title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  border-radius: 1rem;
  font-size: 2rem;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  z-index: 1;
  margin: 0 auto;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-shadow: 0px 0px 10px #ea1c1c, 0px 0px 20px #b31459, 0px 0px 30px #850e0e, 0px 0px 40px #870e0e;
}
.contactos .title h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.contactos .container-fluid .row .formulario {
  margin-bottom: 2rem;
}
.contactos .container-fluid .row .formulario h3 {
  text-align: center;
}
.contactos .container-fluid .row .formulario .campo {
  position: relative;
}
.contactos .container-fluid .row .formulario .campo input {
  width: 100%;
  height: 66px;
  padding-top: 0.5rem;
  padding-left: 1.2rem;
  margin-bottom: 1rem;
  border: 3px solid rgb(208, 208, 208);
  outline: none;
  background-color: transparent;
  color: #fff;
  font-size: 1.3rem;
  box-shadow: 0px 0px 10px #bb1a1a, 0px 0px 20px #b31459, 0px 0px 5px #bb1a1a inset, 0px 0px 10px #b31459 inset;
}
.contactos .container-fluid .row .formulario .campo input:hover + label, .contactos .container-fluid .row .formulario .campo input:focus + label, .contactos .container-fluid .row .formulario .campo input:not(:placeholder-shown) + label {
  top: -3px;
  left: -5px;
  transform: scale(0.5);
}
.contactos .container-fluid .row .formulario .campo label {
  font-size: 1.3rem;
  position: absolute;
  top: 33px;
  left: 0.5rem;
  transform: translateY(-50%);
  color: #fff;
  transition: all 0.3s ease;
}
.contactos .container-fluid .row .formulario textarea {
  width: 100%;
  height: 150px;
  padding-top: 0.5rem;
  padding-left: 1.2rem;
  margin-bottom: 1rem;
  border: 3px solid rgb(208, 208, 208);
  outline: none;
  background-color: transparent;
  color: #fff;
  font-size: 1.3rem;
  box-shadow: 0px 0px 10px #bb1a1a, 0px 0px 20px #b31459, 0px 0px 5px #bb1a1a inset, 0px 0px 10px #b31459 inset;
}
.contactos .container-fluid .row .formulario .boton {
  margin: 0 auto;
  position: relative;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent !important;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
}
.contactos .container-fluid .row .formulario .boton svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: #870e0e;
}
.contactos .container-fluid .row .formulario .boton svg rect {
  width: 100%;
  height: 100%;
  stroke: rgba(131, 8, 61, 0.7019607843);
  stroke-width: 6px;
  stroke-dasharray: 600;
  stroke-dashoffset: 0;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 5px rgba(131, 8, 61, 0.7019607843));
}
.contactos .container-fluid .row .formulario .boton:hover {
  font-weight: 600;
  text-shadow: 0 0 5px #b31459, 0 0 10px #b31459;
}
.contactos .container-fluid .row .formulario .boton:hover svg rect {
  stroke: rgba(187, 26, 90, 0.8078431373);
  filter: drop-shadow(0px 0px 20px rgba(131, 8, 61, 0.7019607843)) drop-shadow(0px 0px 5px #b31459);
}
.contactos .container-fluid .row .mapa h2 {
  margin-bottom: 2rem;
}
.contactos .container-fluid .row .mapa .direccion {
  text-align: left;
  padding-left: 1rem;
  font-size: 1.2rem;
}
.contactos .container-fluid .row .mapa iframe {
  margin: 1rem auto;
  height: 300px;
  width: 90%;
}
.contactos .container-fluid .row .mapa .boton {
  margin: 0 auto;
  position: relative;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent !important;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
}
.contactos .container-fluid .row .mapa .boton svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: #870e0e;
}
.contactos .container-fluid .row .mapa .boton svg rect {
  width: 100%;
  height: 100%;
  stroke: rgba(131, 8, 61, 0.7019607843);
  stroke-width: 6px;
  stroke-dasharray: 600;
  stroke-dashoffset: 0;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 5px rgba(131, 8, 61, 0.7019607843));
}
.contactos .container-fluid .row .mapa .boton:hover {
  font-weight: 600;
  text-shadow: 0 0 5px #b31459, 0 0 10px #b31459;
}
.contactos .container-fluid .row .mapa .boton:hover svg rect {
  stroke: rgba(187, 26, 90, 0.8078431373);
  filter: drop-shadow(0px 0px 20px rgba(131, 8, 61, 0.7019607843)) drop-shadow(0px 0px 5px #b31459);
}

/*FOOTER*/
footer {
  background-color: #050014;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
}
footer p {
  padding-top: 10px;
  display: block;
}

.page-precios {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.page-precios .precios {
  display: grid;
  gap: 1rem;
  place-items: center;
  flex: 1;
  padding: 1rem 0;
  position: relative;
  z-index: 3;
}
.page-precios .precios::before {
  content: "";
  background-image: url("../../img/fondo-precios.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  inset: 0;
  position: absolute;
  opacity: 0.2;
  z-index: -4;
}
.page-precios .precios .titulo {
  font-size: 3rem;
}
.page-precios .precios .tarjeta {
  width: 360px;
  height: 500px;
  position: relative;
  border-radius: 40px;
  background: linear-gradient(120deg, rgba(49, 49, 49, 0.5490196078), rgba(10, 10, 10, 0.631372549));
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
}
.page-precios .precios .tarjeta-body {
  position: relative;
  z-index: 2;
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page-precios .precios .tarjeta-body p {
  font-size: 1.5rem;
}
.page-precios .precios .tarjeta-body ul {
  text-align: left;
}
.page-precios .precios .tarjeta-body .tarjeta-boton {
  cursor: pointer;
}
.page-precios .precios .tarjeta-body .tarjeta-boton a {
  text-decoration: none;
  color: white;
}
.page-precios .precios .tarjeta svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
.page-precios .precios .tarjeta svg rect {
  fill: none;
  stroke-width: 4;
  stroke-dasharray: 392.5 392.5;
  stroke-dashoffset: 0;
  rx: 40;
  ry: 40;
  shape-rendering: geometricPrecision;
  filter: url(#glow);
  animation: neonGlow 6s linear infinite;
}

.page-horarios {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.page-horarios .horarios {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 2rem;
}
.page-horarios .horarios .title {
  display: inline-block;
  padding: 2rem 0 2rem 1rem;
  font-size: 3rem;
}
.page-horarios .horarios::before {
  position: absolute;
  content: "";
  background-image: url("../../img/calendario.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: 50% 37%;
  inset: 0;
  opacity: 0.2;
  z-index: -4;
}
.page-horarios .horarios .accordion {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.page-horarios .horarios .accordion .accordion-item {
  color: #fff;
  background: transparent !important;
  border: none;
}
.page-horarios .horarios .accordion .accordion-item .accordion-button {
  width: 200px;
}
.page-horarios .horarios .accordion .accordion-item .boton-azul {
  background: rgba(2, 2, 248, 0.4392156863);
  color: #fff;
  border: 2px solid rgba(2, 2, 248, 0.4392156863);
}
.page-horarios .horarios .accordion .accordion-item .boton-azul:hover {
  box-shadow: 0 0 10px rgba(2, 2, 248, 0.4392156863);
}
.page-horarios .horarios .accordion .accordion-item .boton-azul:focus {
  box-shadow: 0 0 10px rgba(2, 2, 248, 0.4392156863);
}
.page-horarios .horarios .accordion .accordion-item .boton-violeta {
  background: rgba(137, 43, 226, 0.4235294118);
  color: #fff;
  border: 2px solid rgba(137, 43, 226, 0.4235294118);
}
.page-horarios .horarios .accordion .accordion-item .boton-violeta:hover {
  box-shadow: 0 0 10px rgba(137, 43, 226, 0.4235294118);
}
.page-horarios .horarios .accordion .accordion-item .boton-violeta:focus {
  box-shadow: 0 0 10px rgba(137, 43, 226, 0.4235294118);
}
.page-horarios .horarios .accordion .accordion-item .boton-rosa {
  background: rgba(233, 30, 99, 0.631372549);
  color: #fff;
  border: 2px solid rgba(233, 30, 99, 0.631372549);
}
.page-horarios .horarios .accordion .accordion-item .boton-rosa:hover {
  box-shadow: 0 0 10px rgba(233, 30, 99, 0.631372549);
}
.page-horarios .horarios .accordion .accordion-item .boton-rosa:focus {
  box-shadow: 0 0 10px rgba(233, 30, 99, 0.631372549);
}
.page-horarios .horarios .accordion .accordion-item .boton-celeste {
  background: rgba(0, 188, 212, 0.631372549);
  color: #fff;
  border: 2px solid rgba(0, 188, 212, 0.631372549);
}
.page-horarios .horarios .accordion .accordion-item .boton-celeste:hover {
  box-shadow: 0 0 10px rgba(0, 188, 212, 0.631372549);
}
.page-horarios .horarios .accordion .accordion-item .boton-celeste:focus {
  box-shadow: 0 0 10px rgba(0, 188, 212, 0.631372549);
}
.page-horarios .horarios .accordion .accordion-item .boton-verde {
  background: rgba(76, 175, 80, 0.631372549);
  color: #fff;
  border: 2px solid rgba(76, 175, 80, 0.631372549);
}
.page-horarios .horarios .accordion .accordion-item .boton-verde:hover {
  box-shadow: 0 0 10px rgba(76, 175, 80, 0.631372549);
}
.page-horarios .horarios .accordion .accordion-item .boton-verde:focus {
  box-shadow: 0 0 10px rgba(76, 175, 80, 0.631372549);
}
.page-horarios .horarios .accordion .accordion-item .boton-naranja {
  background: rgba(255, 152, 0, 0.631372549);
  color: #fff;
  border: 2px solid rgba(255, 152, 0, 0.631372549);
}
.page-horarios .horarios .accordion .accordion-item .boton-naranja:hover {
  box-shadow: 0 0 10px rgba(255, 152, 0, 0.631372549);
}
.page-horarios .horarios .accordion .accordion-item .boton-naranja:focus {
  box-shadow: 0 0 10px rgba(255, 152, 0, 0.631372549);
}
.page-horarios .horarios .accordion .accordion-item .boton-bordo {
  background: rgba(200, 9, 9, 0.631372549);
  color: #fff;
  border: 2px solid rgba(200, 9, 9, 0.631372549);
}
.page-horarios .horarios .accordion .accordion-item .boton-bordo:hover {
  box-shadow: 0 0 10px rgba(200, 9, 9, 0.631372549);
}
.page-horarios .horarios .accordion .accordion-item .boton-bordo:focus {
  box-shadow: 0 0 10px rgba(200, 9, 9, 0.631372549);
}
.page-horarios .horarios .accordion .accordion-item .accordion-collapse .accordion-body {
  padding: 0;
  padding-top: 10px;
}
.page-horarios .horarios .accordion .accordion-item .accordion-collapse .accordion-body .accordion {
  padding: 0;
}
.page-horarios .horarios .accordion .accordion-item .accordion-collapse .accordion-body .accordion .accordion-item {
  color: #fff;
  background: transparent !important;
  border: none;
}
.page-horarios .horarios .accordion .accordion-item .accordion-collapse .accordion-body .accordion .accordion-item .accordion-button {
  width: 150px;
}
.page-horarios .horarios .accordion .accordion-item .accordion-collapse .accordion-body .accordion .accordion-item .accordion-collapse .accordion-body {
  color: #fff;
}
.page-horarios .horarios .accordion .accordion-item .accordion-collapse .accordion-body .accordion .accordion-item .accordion-collapse .accordion-body .azul {
  background: rgba(2, 2, 248, 0.4392156863);
  border: none;
}
.page-horarios .horarios .accordion .accordion-item .accordion-collapse .accordion-body .accordion .accordion-item .accordion-collapse .accordion-body .violeta {
  background: rgba(137, 43, 226, 0.4235294118);
  border: none;
}
.page-horarios .horarios .accordion .accordion-item .accordion-collapse .accordion-body .accordion .accordion-item .accordion-collapse .accordion-body .rosa {
  background: rgba(233, 30, 99, 0.631372549);
  border: none;
}
.page-horarios .horarios .accordion .accordion-item .accordion-collapse .accordion-body .accordion .accordion-item .accordion-collapse .accordion-body .celeste {
  background: rgba(0, 188, 212, 0.631372549);
  border: none;
}
.page-horarios .horarios .accordion .accordion-item .accordion-collapse .accordion-body .accordion .accordion-item .accordion-collapse .accordion-body .verde {
  background: rgba(76, 175, 80, 0.631372549);
  border: none;
}
.page-horarios .horarios .accordion .accordion-item .accordion-collapse .accordion-body .accordion .accordion-item .accordion-collapse .accordion-body .naranja {
  background: rgba(255, 152, 0, 0.631372549);
  border: none;
}
.page-horarios .horarios .accordion .accordion-item .accordion-collapse .accordion-body .accordion .accordion-item .accordion-collapse .accordion-body .bordo {
  background: rgba(200, 9, 9, 0.631372549);
  border: none;
}

@media screen and (min-width: 768px) {
  /*MAIN*/
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, repeat(auto-fit, minmax(250px, 1fr)));
  }
  .grid .imagen1 {
    grid-column: 1/2;
    grid-row: 1/2;
    flex: 1 0 0;
  }
  .grid .imagen2 {
    grid-column: 2/3;
    grid-row: 2/3;
    flex: 1 0 0;
  }
  .grid .imagen3 {
    grid-column: 1/2;
    grid-row: 3/4;
    flex: 1 0 0;
  }
  .grid .texto1 {
    grid-column: 1/2;
    grid-row: 1/2;
    flex: 1 0 0;
    transform: translateX(100%);
    transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
  }
  .grid .texto2 {
    grid-column: 2/3;
    grid-row: 2/3;
    flex: 1 0 0;
    transform: translateX(-100%);
    transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
  }
  .grid .texto3 {
    grid-column: 1/2;
    grid-row: 3/4;
    flex: 1 0 0;
    transform: translateX(100%);
    transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
  }
  .grid .text {
    color: #fff;
  }
  .grid .text h2 {
    text-shadow: 0 0 12px rgba(107, 107, 107, 0.9019607843), 0 0 25px rgba(59, 81, 156, 0.8), 0 0 40px rgba(0, 17, 255, 0.6);
  }
  .grid .text p {
    text-shadow: 2px 2px 6px rgba(180, 180, 200, 0.9019607843), 4px 4px 10px rgba(120, 120, 150, 0.7019607843);
  }
  /*SECTION DISCIPLINAS*/
  .disciplinas {
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-template-rows: auto repeat(3, 1fr);
    grid-template-areas: "title title title" "crossfit funcional levantamiento" "boxeo natacion spinning" ". yoga .";
    row-gap: 40px;
    column-gap: 20px;
    padding: 20px;
    margin: 0;
  }
  .disciplinas .tarjeta {
    position: relative;
    width: 230px;
    height: 350px;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
  }
  .disciplinas .title {
    grid-area: title;
    margin-bottom: 3rem;
  }
  .disciplinas .title h2 {
    font-size: 2.7rem;
  }
  .disciplinas .crossfit {
    grid-area: crossfit;
  }
  .disciplinas .funcional {
    grid-area: funcional;
  }
  .disciplinas .levantamiento {
    grid-area: levantamiento;
  }
  .disciplinas .boxeo {
    grid-area: boxeo;
  }
  .disciplinas .natacion {
    grid-area: natacion;
  }
  .disciplinas .spinning {
    grid-area: spinning;
  }
  .disciplinas .yoga {
    grid-area: yoga;
  }
  /*SECTION SERVICIOS*/
  .servicios .title h2 {
    font-size: 2.7rem;
  }
  /*SECTION PROFESORES*/
  .profesores .title h2 {
    font-size: 2.7rem;
  }
  /*SECTION CONTACTO*/
  .contactos .title h2 {
    font-size: 2.7rem;
  }
  .contactos .container-fluid .row .formulario textarea {
    padding-left: 2rem;
    height: 240px;
  }
  .contactos .container-fluid .row .mapa iframe {
    margin: 10px auto 20px auto;
    width: 90%;
    height: 295px;
    padding: 0.5rem 0;
  }
  .precios {
    grid-template-columns: repeat(2, 1fr);
  }
  .page-horarios .horarios .accordion .accordion-item .accordion-collapse .accordion-body {
    padding: 1rem 2rem;
  }
  .page-horarios .horarios .accordion .accordion-item .accordion-collapse .accordion-body .accordion .accordion-item .accordion-button {
    width: 200px;
  }
}
@media screen and (min-width: 1024px) {
  /*HEADER*/
  .header .navbar .menu-lista {
    padding: 1rem;
  }
  /*MAIN*/
  .grid {
    height: 90vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, minmax(150px, 1fr));
  }
  /*SECTION DISCIPLINAS*/
  .disciplinas {
    padding: 50px;
  }
  .disciplinas .tarjeta {
    width: 350px;
    height: 450px;
  }
  .disciplinas .title {
    width: 32%;
    padding: 1rem 0;
    font-size: 2rem;
    letter-spacing: 0.7rem;
  }
  .disciplinas .title h2 {
    font-size: 3.5rem;
  }
  /*SECTION SERVICIOS*/
  .servicios .title {
    width: 30%;
  }
  .servicios .title h2 {
    font-size: 3.5rem;
  }
  /*SECTION PROFESORES*/
  .profesores {
    padding-bottom: 5rem;
  }
  .profesores .title {
    width: 30%;
  }
  .profesores .title h2 {
    font-size: 3.5rem;
  }
  .profesores .carousel .carousel-item .contenedor {
    justify-content: space-evenly;
  }
  .profesores .carousel .carousel-item .contenedor .card2 {
    display: flex;
  }
  .profesores .carousel .carousel-item .contenedor .card {
    width: 350px;
  }
  /*SECTION CONTACTANOS*/
  .contactos {
    padding-top: 3rem;
  }
  .contactos .title {
    width: 30%;
  }
  .contactos .title h2 {
    font-size: 3.5rem;
  }
  .contactos .container-fluid {
    margin: 100px 0;
  }
  .contactos .container-fluid .row {
    justify-content: space-evenly;
  }
  .contactos .container-fluid .row .formulario {
    height: 100%;
    width: 30%;
  }
  .contactos .container-fluid .row .formulario textarea {
    height: 290px;
  }
  .contactos .container-fluid .row .mapa {
    width: 30%;
    height: 100%;
  }
  .contactos .container-fluid .row .mapa .direccion {
    padding: 0;
    margin-bottom: 2.2rem;
  }
  .contactos .container-fluid .row .mapa iframe {
    width: 100%;
    height: 305px;
    padding: 0.5rem 0;
  }
  .precios {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas: "titulo titulo titulo" "tarjeta-1 tarjeta-2 tarjeta-3";
  }
  .precios .titulo {
    grid-area: titulo;
    display: inline-block;
  }
  .precios .tarjeta-1 {
    grid-area: tarjeta-1;
  }
  .precios .tarjeta-2 {
    grid-area: tarjeta-2;
  }
  .precios .tarjeta-3 {
    grid-area: tarjeta-3;
  }
  .page-horarios .horarios .accordion-body .accordion {
    display: flex;
    flex-direction: row;
  }
  .page-horarios .horarios .accordion-body .accordion .accordion-item {
    height: 300px;
  }
  .page-horarios .horarios .accordion-body .accordion .accordion-item .accordion-button {
    width: 200px;
  }
}

/*# sourceMappingURL=main.css.map */
