@use "../utilities/mixin" as *;
@use "../utilities/variables" as *;

@media screen and (min-width: 1024px){

    /*HEADER*/
    .header{
        .navbar{
            .menu-lista{
                padding: 1rem;
            }
        }
    }

    /*MAIN*/
    .grid{
        height: 90vh;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, minmax(150px, 1fr));
    }

    /*SECTION DISCIPLINAS*/
    .disciplinas{
        padding: 50px;

        .tarjeta{
            width: 350px;
            height: 450px;
        }

        .title{
            width: 32%;
            padding: 1rem 0;
            font-size: 2rem;
            letter-spacing: 0.7rem;

            h2{
                font-size: 3.5rem;
            }
        }

        .presentacion{
            background-color: $color-negro1;
            width: 86%;
            padding:0 2rem;
            padding-top: 3rem;

            h3{
                font-size: 2rem;
            }

            
            .presentacion-texto{
                font-size: 1.5rem;
            }
        }
    }

    /*SECTION SERVICIOS*/
    .servicios{
        .title{
            width: 30%;
            h2{
                font-size: 3.5rem;
            }
        }
    }

    /*SECTION PROFESORES*/
    .profesores{
        padding-bottom: 5rem;

        .title{
            width: 30%;
            h2{
                font-size: 3.5rem;
            }
        }

        .presentacion{
            width: 45% !important;
            padding: 2rem;

            h3{
                font-size: 2rem;
            }

            .presentacion-texto{
                font-size: 1.5rem;
            }
            
            
            
            
        }
        
        .carousel{
            width: 50% !important;
            .carousel-item{
                .contenedor{
                    justify-content: space-evenly;
        
                    .card2{
                        display: flex;
                    }
        
                    .card{
                        width: 300px;
                        margin: 0 1rem;
                    }
                }
            }

        }

    }

     .contactos{
        display:flex;
        flex-direction:row;
        
        
        .cont{
            padding:1rem;
            .formulario{
                width: 70%;
                margin:0 auto;
            }
        }
        
        .contacto-img{
            width: 100%;
            display:inline-block;
            
            
            img{
                @include imagen;
            
                
            }
        }

    }

    footer{
        .redes{
            h2{
                font-size: 3rem;
            }
            div{
                justify-content: space-evenly;
                a{
                    font-size: 2rem;
                }
            }
        }

        .contacto{
            display: flex;
            flex-direction: column;
            gap:1.5rem;
            .contacto-datos{

                @include flex(flex,left,center);
                gap:2rem;
                i{
                    font-size: 2rem;
                    padding-bottom:1rem;
                }
               
            }
        }

        .navegacion{
            .menu-lista{
                padding-top:1rem;
            }
        }
    }
    /*PAGE PRECIOS*/
    .precios{
        
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 20% 2fr 1fr;
        grid-template-areas: 
        "titulo titulo titulo"
        "tarjeta1 tarjeta2 tarjeta3"
        ;
        
        

        .titulo{
            grid-area: titulo;
            display: inline-block;
            
            
            
        }
        .tarjeta-1{grid-area: tarjeta1;}
        .tarjeta-2{grid-area: tarjeta2;}
        .tarjeta-3{grid-area: tarjeta3;}
        
    }
 
    //PAGE HORARIOS//
    .page-horarios{
        .horarios{
            .btns{
                .title{
                    margin-bottom:1rem;
                }
            }
        }
        .contenedor{
            grid-template-columns: repeat(7,1fr);

            .columna-dia{

                h3{
                    font-size:1.3rem;
                }
                .class-card{
                        flex-direction:column;
                        align-items:flex-start;
                        justify-content:space-evenly;
                        padding:1rem;
                        height:190px;
                        gap:0.3rem;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.792);


                        .class-time,.class-name,.class-details{
                            width:auto;
                        }

                        .class-details{
                            font-size:1.1rem;
                            .book-btn{
                                padding:0.2rem;
                            }
                        }
                    }
            }
        }
    }
}