@use "../utilities/mixin" as *;
@use "../utilities/variables" as *;

@media screen and (min-width: 1024px){

    /*HEADER*/
    .header{
        .navbar{
            .menu-lista{
                padding: 1rem;
            }
        }
    }

    /*MAIN*/
    .grid{
        height: 90vh;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, minmax(150px, 1fr));
    }

    /*SECTION DISCIPLINAS*/
    .disciplinas{
        padding: 50px;

        .tarjeta{
            width: 350px;
            height: 450px;
        }

        .title{
            width: 32%;
            padding: 1rem 0;
            font-size: 2rem;
            letter-spacing: 0.7rem;

            h2{
                font-size: 3.5rem;
            }
        }
    }

    /*SECTION SERVICIOS*/
    .servicios{
        .title{
            width: 30%;
            h2{
                font-size: 3.5rem;
            }
        }
    }

    /*SECTION PROFESORES*/
    .profesores{
        padding-bottom: 5rem;

        .title{
            width: 30%;
            h2{
                font-size: 3.5rem;
            }
        }

        .carousel{
            .carousel-item{
                .contenedor{
                    justify-content: space-evenly;
        
                    .card2{
                        display: flex;
                    }
        
                    .card{
                        width: 350px;
                    }
                }
            }

        }

    }

    /*SECTION CONTACTANOS*/
    .contactos{
        padding-top:3rem;
        .title{
            width: 30%;
            h2{
                font-size: 3.5rem;
            }
        }

        .container-fluid{
            margin: 100px 0;

            .row{
                justify-content: space-evenly;

                
                .formulario{
                    height: 100%;
                    width: 30%;
                    textarea{
                        height: 290px;
                    }
                    
                }

                .mapa{
                    width: 30%;
                    height: 100%;

                    .direccion{
                        padding:0;
                        margin-bottom: 2.2rem;
                    }
                    iframe{
                        width: 100%;
                        height: 305px;
                        padding: 0.5rem 0;
                       
                    }
                }
                
            }
        }
    }

    //PAGE PRECIOS
    .precios{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto 1fr;
        grid-template-areas: 
        "titulo titulo titulo"
        "tarjeta-1 tarjeta-2 tarjeta-3";
        

        .titulo{
            grid-area: titulo;
            display: inline-block;
            
            
            
        }
        .tarjeta-1{grid-area: tarjeta-1;}
        .tarjeta-2{grid-area: tarjeta-2;}
        .tarjeta-3{grid-area: tarjeta-3;}
        
    }
 
    //PAGE HORARIOS//
    .page-horarios{
        .horarios{       
            .accordion-body{
                .accordion{
                    display: flex;
                    flex-direction: row;
                    .accordion-item{
                        height: 300px;
                                    
                        .accordion-button{
                            width: 200px;
                        }

                    }
                }
            }   
            
        }
    }
}