@use "../utilities/mixin" as *;
@use "../utilities/variables" as *;

@media screen and (min-width: 768px){
    /*MAIN*/
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, repeat(auto-fit, minmax(250px, 1fr)));

        .imagen1 { grid-column: 1/2; grid-row: 1/2; flex: 1 0 0; }
        .imagen2 { grid-column: 2/3; grid-row: 2/3; flex: 1 0 0; }
        .imagen3 { grid-column: 1/2; grid-row: 3/4; flex: 1 0 0; }

        .texto1 {
            grid-column: 1/2;
            grid-row: 1/2;
            flex: 1 0 0;
            transform: translateX(100%);
            transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
        }

        .texto2 {
            grid-column: 2/3;
            grid-row: 2/3;
            flex: 1 0 0;
            transform: translateX(-100%);
            transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
        }

        .texto3 {
            grid-column: 1/2;
            grid-row: 3/4;
            flex: 1 0 0;
            transform: translateX(100%);
            transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
        }

        .text {
            
            color: $color-tipografia;

            h2{
                @include shadow-text-main;
            }

            p{
                text-shadow:
                    2px 2px 6px $color-gris2,
                    4px 4px 10px $color-gris3;
            }
        }
    }

    /*SECTION DISCIPLINAS*/
    .disciplinas{
        grid-template-columns: repeat(3, minmax(150px, 1fr));
        grid-template-rows: auto repeat(3, 1fr);
        grid-template-areas:
            "title title title"
            "crossfit natacion levantamiento"
            "presentacion presentacion presentacion"
            "yoga spinning boxeo";
            
        row-gap: 40px;
        column-gap: 20px;
        padding: 20px;
        margin: 0;
        
        .tarjeta{
            position: relative;
            width: 230px;
            height: 350px;
            border-radius: 12px;
            overflow: hidden;
            transition: transform 0.4s ease, box-shadow 0.4s ease;
        }

        .title { 
            grid-area: title; 
            margin-bottom: 3rem;

            h2{
                font-size: 2.7rem;
                
            }
         }

        .crossfit { grid-area: crossfit; }
        .presentacion { 
            padding: 1.5rem 2rem;
            background-color: $color-negro1;
            border-radius: 1rem;
            grid-area: presentacion;
            width: 100%;
            p{
                font-size: 1.9rem;
            }
            // display: flex;
            // flex-direction: column;
            // justify-content: space-around;
            // align-items: flex-end;
            // gap: 9rem;
            
         }
        .levantamiento { grid-area: levantamiento; }
        .boxeo { grid-area: boxeo; }
        .natacion { grid-area: natacion; }
        .spinning { grid-area: spinning; }
        .yoga { grid-area: yoga; }
    }

    /*SECTION SERVICIOS*/
    .servicios{
        .title{
            h2{
                font-size: 2.7rem;
                
            }
        }
    }

    /*SECTION PROFESORES*/
    .profesores{
        .title{
            h2{
                font-size: 2.7rem;
                
            }
        }

        .contenedor-profesores{
            display:flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;

            .presentacion{
                width: 50%;
            }

            .carousel{
                width: 50%;
            }
        }
    }
    /*SECTION CONTACTOS*/
    .contactos {
        flex-direction: row;
        align-items: stretch;
        padding: 60px 40px;
        

        .contacto-img {
            display: block; 
            flex: 1;
            img {
                border-radius: 50px 150px 50px 150px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: brightness(0.8) saturate(1.1) drop-shadow(0px 0px 20px rgba(110, 4, 46, 0.6));
            }
        }

        .contenedor {
            flex: 1;
            text-align: left;
            .formulario {
                max-width: 500px;

                .boton {
                    align-self: flex-start;
                }
            }

        }

        .title h2 {
        font-size: 2.6rem;
        }

    }
    

    footer{
        padding:0 1rem;
        padding-top:2rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows:auto auto;
        grid-template-areas:
        "redes navegacion contacto qr"
        "derechos derechos derechos derechos";
        gap:0;
        .redes{
            align-self: center;
        }

        .qr{
            
            align-self:center;
        }
        
    }

    //PAGE PRECIOS

    .precios{
        grid-template-columns: repeat(2, 1fr);
    }

    //PAGE HORARIOS//
    
}