@use "../utilities/hamburger" as *;
@use "../utilities/mixin" as *;
@use "../utilities/variables" as *;
.page-galeria {
  
    .galeria-container{
        position:relative;
        z-index: 4;

        &::before{
            content: "";
            position:absolute;
            background-image: url("../img/fondo_pared_ladrillos_negro_neon.jpg");
            background-repeat: none;
            background-position: center;
            background-size: cover;
            opacity: 0.1;
            inset:0;
            z-index: -4;

        }
        .galeria-header {
            text-align: center;
            padding: 60px 20px;
            opacity: 1;
    
            h2 {
                font-size: 3rem;
            }
    
            p {
                color: #ddd;
                font-size: 1.1rem;
            }
            .galeria-filtros {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 12px;
                margin-top: 20px;
                button {
                    background: #3a0068;
                    border: none;
                    padding: 8px 20px;
                    border-radius: 25px;
                    color: #fff;
                    cursor: pointer;
                    transition: all .3s ease;
            
                    &.activo, &:hover {
                        background: linear-gradient(90deg, #ff0080, #b026ff);
                        transform: scale(1.05);
                    }
                    
                }
            }
        }
    
        .galeria-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            gap: 25px;
            padding: 30px 10%;
            max-width: 1800px;
            margin: auto;
    
            .card {
                position: relative;
                overflow: hidden;
                border-radius: 15px;
                box-shadow: 0 10px 25px rgba(0,0,0,0.4);
                cursor: pointer;
                transition: transform 0.3s;
                border:#3a0068 2px solid;
    
                &:hover { 
                    transform: scale(1.03);
                    .overlay{
                        opacity: 1;
                    }
                }
    
                img, video {
                    @include imagen;
                    
                }
    
                .overlay {
                    position: absolute;
                    top: 10px; left: 10px;
                    padding:0.2rem 0.5rem 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include shadow-servicios;
                    background-color: $color-negro1;
                    opacity: 0;
                    transition: opacity .4s;
                    border-radius:20px;
            
                    h3 {
                        color: #fff;
                        font-size: 1rem;
                    }
                    
                }
    
            }
        }
    }
}

