@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;

.page-horarios{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .horarios{
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        padding-bottom: 2rem;

        .title{
            display: inline-block;
            padding: 2rem 0 2rem 1rem;
            font-size: 3rem;
        }

        &::before{
            position: absolute;
            content: "";
            @include imagen-bg ("../../img/calendario.png");
            background-position: 50% 37%;
            inset: 0;
            opacity: 0.2;
            z-index: -4;
        }
        
        .accordion{
            padding-left: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .accordion-item{
                color: $color-tipografia;
                background: transparent !important;
                border: none;

                .accordion-button{
                    width: 200px;
                }

                @each $nombre, $color in $horarios-bg-boton{
                    .boton-#{$nombre}{
                        background: $color;
                        color: $color-tipografia;
                        border: 2px solid $color;

                        &:hover{
                            box-shadow: 0 0 10px $color;
                        }

                        &:focus{
                            box-shadow: 0 0 10px $color;
                        }
                    }
                    
                }

                .accordion-collapse{
                    .accordion-body{
                        padding: 0;
                        
                        padding-top: 10px;
                        .accordion{
                            padding: 0;
                            .accordion-item{
                                color: $color-tipografia;
                                background: transparent !important;
                                border: none;

                                .accordion-button{
                                    width: 150px;
                                }

                                .accordion-collapse{
                                    .accordion-body{
                                        color: $color-tipografia;

                                        @each $nombre, $color in $horarios-bg-boton{
                                           
                                            .#{$nombre}{
                                                background: $color;
                                                border: none;
                                            }
                                           
                                            
                                        }
                                
                                    }
                                }
                            }
                        }
                    }
                }
    
            }
    
        }
    }
}
