@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;



.page-horarios{
    display:flex;
    min-height:100vh;
    flex-direction:column;


    .horarios{
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        padding-bottom: 4rem;


        &::before{
            position: absolute;
            content: "";
            @include imagen-bg ("../../img/calendario.png");
            background-position: 50% 37%;
            inset: 0;
            opacity: 0.2;
            z-index: -4;
        }
        
        .btns{
            padding:1rem;
            position:relative;
            margin:2rem 0;

            &::after{
                content:"";
                position:absolute;
                height:2px;
                width:95%;
                background-color:rgba(245, 245, 245, 0.603);
                bottom:-15px;
                right:-45%;
                transform:translate(-50%,-50%);
                box-shadow:
                    0px 0px 5px $color-violeta-claro2,
                    0px 0px 10px $color-purple,
                    0px 0px 15px $color-indigo,
                    0px 0px 20px $color-blue;
                
            }

            .title{
                display: inline-block;
                margin:auto;
                font-size: 3rem;
            }

            .filtro{
                padding-top:2rem;
                display:flex;
                flex-wrap: wrap;
                gap:2rem;

                div{
                    display:flex;
                    align-items: center;
                    gap:0.5rem;
                    cursor:pointer;
                    border-radius:30px;
                    padding:0.5rem;
                    background:rgba(107, 106, 106, 0.347);
                    transition:transform 0.3s ease;
                    
                    p{
                        margin:0;
                        font-size:1rem;
                    }
                    

                    span{
                        display:block;
                        padding:0.2rem;
                        border-radius: 100%;
                    }

                     
                    .negro{
                        background-color: #000;
        
                    }
                    @each $name, $color in $horarios-bg-boton{
                        .#{$name}{
                            background-color:$color;
                        }
                    }

                    &:hover{
                        background:rgba(128, 128, 128, 0.418);
                        transform:translateY(-3px);
                        transition:transform 0.3s ease;
                    }
                }
            }
        }
    }

    .contenedor{
        display:grid;
        grid-template-columns: 1fr;

        .columna-dia{
            padding: 1rem;

            h3{
                padding:1rem 0;
                background-color: rgba(128, 128, 128, 0.518);
                border-radius:12px;
                padding-left:1rem;
                margin-bottom:1rem;
            }

            .class-card{
                display:flex;
                justify-content: center;
                align-items: center;
                gap:1.2rem;
                padding:1rem 1.5rem;
                border-left:5px solid black;
                border-radius:12px;
                margin-bottom:1rem;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.792);
                background-color:rgba(0, 0, 0, 0.71);
                transition: box-shadow 0.3s ease, transform 0.3s ease;

                
                .class-time{
                    font-weight: bold;
                    color:whitesmoke;
                    width:34%;
                }

                .class-name{
                    width:44%;
                    font-weight: bold;
                    font-size:1.3rem;
                }
    
                .class-details{
                    display:flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 5px;
                    color:grey;
                    width:30%;

                    .book-btn{
                        width:100%;
                        background:rgb(197, 197, 197);
                        border-radius: 5px;
                        padding:0.5rem;
                        cursor:pointer;
                        border:none;
                    }
                }

                @each $name,$color in $horarios-bg-boton{
                    &.card-#{$name}{
                        border-left:5px solid $color;
                        &:hover{
                            box-shadow: 0 0 20px $color;
                            transform:translateY(-3px);
                            transition: box-shadow 0.3s ease, transform 0.3s ease;
                        }
                        .class-name{
                            color:$color;
                            font-weight:bold;
                        }
                        .class-details{
                            .book-btn{
                                &:hover{
                                    background:$color;
                                    border:none;
                                    color:whitesmoke;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
