@use "../utilities/mixin" as *;
@use "../utilities/variables" as *;
@use "../utilities/animaciones" as *;

.page-precios{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    

    .precios{
        display: grid;
        gap: 1rem;
        place-items: center;
        flex: 1;
        padding: 1rem 0;
        position: relative;
        z-index: 3;

        &::before{
            content: "";
            @include imagen-bg ("../../img/fondo-precios.png");
            inset:0;
            position:absolute;
            opacity: 0.2;
            z-index: -4;
        }

        .titulo{
            font-size: 3rem;
        }

        .tarjeta{
            width: 360px;
            height: 500px;
            position: relative;
            border-radius: 40px;
            background: linear-gradient(120deg, #3131318c, #0a0a0aa1);
            box-shadow: 0 0 50px rgba(0,0,0,0.4);
            

            &-body{
                position: relative;
                z-index: 2;
                height: 100%;
                padding: 2rem;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                p{
                    font-size: 1.5rem;
                }

                ul{
                    text-align: left;
                }

                .tarjeta-boton{
                    cursor: pointer;
                    
                    a{
                        text-decoration: none;
                        color: white;
                    }
                }
            }

            svg{
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;

                

                rect{
                    fill: none;
                    stroke-width: 4;
                    stroke-dasharray: 392.5 392.5 ;
                    stroke-dashoffset: 0;
                    rx: 40;
                    ry: 40;
                    shape-rendering: geometricPrecision;
                    filter: url(#glow);
                    animation: neonGlow 6s linear infinite;
                }
            }

        }
    }

}
