@use "../utilities/mixin" as *;
@use "../utilities/variables" as *;
@use "../utilities/animaciones" as *;

.page-precios{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    

    .precios{
        display: grid;
        gap: 1rem;
        place-items: center;
        flex: 1;
        padding: 1rem 0;
        position: relative;
        z-index: 3;

        &::before{
            content: "";
            @include imagen-bg ("../../img/fondo-precios.png");
            inset:0;
            position:absolute;
            opacity: 0.2;
            z-index: -4;
        }

        .titulo{
            font-size: 3rem;
        }

        .tarjeta{
            width: 360px;
            height: 500px;
            position: relative;
            border-radius: 40px;
            background: linear-gradient(120deg, #3131318c, #0a0a0aa1);
            box-shadow: 0 0 50px rgba(0,0,0,0.4);
            

            &-body{
                position: relative;
                z-index: 2;
                height: 100%;
                padding: 2rem;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                p{
                    font-size: 1.5rem;
                }

                ul{
                    text-align: left;
                    list-style-type: none;
                    li{
                        display:flex;
                        align-items:center;
                        gap:1rem;
                        margin-bottom:0.5rem;
                        .bi-check-circle{
                            color: green;
                            text-shadow:0 0 5px green;
                            font-weight:bold;
                            font-size:1.2rem;
                            
                        }
                        &.disable{
                            opacity: 0.5;
                        }
                        .bi-x-circle{
                            color: red;
                            text-shadow:0 0 5px red;
                            font-weight:bold;
                            font-size:1.2rem;
                            
                        }
                    }
                }

                .tarjeta-boton{
                    cursor: pointer;
                    width:50%;
                    margin: 0 auto;
                    border-radius:20px;
                    padding:0.8rem 1rem;
                    transition: all 0.3s ease;
                    
                    a{
                        text-decoration: none;
                        color: white;
                    }
                }

                .boton-premium{
                    &:hover{
                        border-left:5px solid $color-rojo1;
                        border-right:5px solid $color-rojo1;
                        
                        box-shadow:inset 0 0 10px $color-rojo1, inset 0 0 20px $color-rojo2;
                        transition: box-shadow 0.3s ease;
                        a{
                            text-shadow: 0 0 5px $color-rojo1;
                            transition:all 0.3s ease;
                        }
                    }
                }
                .boton-plus{
                    &:hover{
                        border-left:5px solid $color-rosa1;
                        border-right:5px solid $color-rosa1;
                        
                        box-shadow:inset 0 0 10px $color-rosa1, inset 0 0 20px $color-rosa2;
                        transition: box-shadow 0.3s ease;
                        a{
                            text-shadow: 0 0 5px $color-rosa1;
                            transition:all 0.3s ease;
                        }
                    }
                }
                .boton-basico{
                    &:hover{
                        border-left:5px solid $color-blue;
                        border-right:5px solid $color-blue;
                        
                        box-shadow:inset 0 0 10px $color-blue2, inset 0 0 20px $color-blue3;
                        transition: box-shadow 0.3s ease;
                        a{
                            text-shadow: 0 0 5px $color-blue2;
                            transition:all 0.3s ease;
                        }
                    }
                }
            }

            svg{
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;

                

                rect{
                    fill: none;
                    stroke-width: 4;
                    stroke-dasharray: 392.5 392.5 ;
                    stroke-dashoffset: 0;
                    rx: 40;
                    ry: 40;
                    shape-rendering: geometricPrecision;
                    filter: url(#glow);
                    animation: neonGlow 6s linear infinite;
                }

                @each $nombre, $color in $precio-bg-card{
                    rect.#{$nombre}{
                        stroke: $color;
                        filter: drop-shadow(0 0 8px $color) drop-shadow(0 0 15px $color);
                    }
                }
            }

        }
    }

}
