@use "../utilities/hamburger" as *;
@use "../utilities/mixin" as *;
@use "../utilities/variables" as *;

.page-ubicaciones{
    main{
        min-height: 100vh;

        .banner{
            height: 200px;
            position:relative;
            z-index: 4;
            width: 100%;
            video{
                @include imagen;
                opacity: 0.3;
                
                
                
            }
            h2{
                position:absolute;
                z-index: 4;
                top:50%;
                left:50%;
                transform: translate(-50%, -50%);
                font-size: 3rem;

            }

        }

        .contenedor{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:3rem;
            padding: 3rem 0;
            
            

            .tarjeta{
                background: rgba(4, 0, 7, 0.297);
                color:$color-tipografia;
                text-align: center;
                border-top: 5px solid $color-rosa6;
                height: 300px;
                width: 270px;
                display:flex;
                flex-direction: column;
                padding-top: 1rem;
                border-radius: 15px;
                box-shadow:0 0 20px rgba(123, 7, 106, 0.797);
                perspective: 1000px;


                &.flipped{
                    .card-inner{
                        transform: rotateY(180deg);
                    }
                }

                .card-inner{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    transition: transform 0.8s;
                    transform-style: preserve-3d;

                    .card-front, .card-back{
                        position:absolute;
                        width: 100%;
                        height: 100%;
                        backface-visibility: hidden;
                    }

                    .card-front{
                        .card-title{
                            font-size: 1.5rem;
                        }
                         .card-body{
                            padding-top:2rem ;
                        }
                        

                        .img{
                            width: 100%;
                            height: 80px;
                            position:absolute;
                            bottom: 0;
                            img{
                                @include imagen;
                                opacity: 0.4;
                                border-radius: 0 0 15px 15px;
                            }
                            button{
                                display: inline-block;
                                padding: 0.1rem 2rem;
                                position:absolute;
                                border-radius: 15px;
                                border:none;
                                top:50%;
                                left:50%;
                                transform: translate(-50%,-50%);
                                background: #3a0068;
                                color: #fff;
                                cursor: pointer;
                                

                                &:hover{
                                    background: linear-gradient(90deg, #ff0080, #b026ff);
                                    
                                }

                            }
                        }
                    }

                    .card-back{
                        top:0px;
                        transform: rotateY(180deg);
                        width: 270px;
                        height: 250px;
                        iframe{
                            width: 90%;
                            height: 90%;
                            border-radius: 15px;
                        }
                        button{
                            margin-top: 0.3rem;
                            display: inline-block;
                            padding: 0.1rem 2rem;
                            border-radius: 15px;
                            border:none;
                            color:$color-tipografia;
                            background: #3a0068;
                            

                            &:hover{
                                background: linear-gradient(90deg, #ff0080, #b026ff);
                            }
                            
                        }
                    }
                }
                
                
                
            }
            
        }

    }
}